.accord-honda{
    cursor: pointer;
}

.spades{
    background-color: #545350 !important;
    color: white !important;
}

.polka{
    margin-bottom: 10px;
}

.mugshot{
    display: flex !important;
    flex-direction: column;
    padding:5px;
}
.mugshot img{
    align-self: center;
    padding:5px

}

.figure-caption{
    color: white !important;
}

.disclaim{
    font-size: 8px;
}