.accord-honda{
    cursor: pointer;
}

.spades{
    background-color: #545350 !important;
    color: white !important;
}

.hearts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mugshot{
    display: flex !important;
    flex-direction: column;
    padding:5px;
}
.mugshot img{
    align-self: center;
    padding:5px

}

.figure-caption{
    color: white !important;
}