@import "../../style/main.scss";
.item-container-wrapper{
  background-color: $shade-color;
  color:$text-color;
  padding:30px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 3px #1b1818;
  
}