@import "../../style/main.scss";


.webcam-spinner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.webcam-spinner-text {
  align-self: center;
}

.jumbotron-setup {

  margin: 10px;
  margin-left:50px;
  background-color: #1f1f1f !important;
  color: white !important;
  margin-right:50px;
  margin-bottom: 0 !important;
  @include for-sm {
    margin: 5px;
  }
  @include for-xs  {
    margin: 5px;
  }
  padding: 1rem !important;
}
.status-readout{

  background-color:#292929;
  height:100%;  

  border-radius:5px;
}

.status-readout-content{
  margin-top:10px
}
.control-panel{
  background-color:#292929;
  height: 100%;
}
.control-panel-block{
  padding:1em !important;
}
.devices-list{
  padding:0.2em;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: scroll;
}
.status-readout-heading{
  background-color:#292929;
  padding:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom: solid rgb(126, 126, 126);

  text-align:center;

}
.webcam{
    display:flex;
    justify-content: center;
    margin-bottom:10px;
    position:relative;
    margin-top:10px;

}

.devices-list-actual{ 
   background-color: #363636 !important;
   text-align: left;
   
}
.control-panel-heading{
  font-size: 1.3rem;

}
.control-panel-subtext{
  font-size: 0.8rem;
}
.form-checkmarks{

  @include for-lg{
    display:flex;
    justify-content: space-between;
  }
}
.webcam-actual{
    border-radius: 5px;
    
  
    @include for-xs{
      width: 256px;
      height: 144px;
    }
    @include for-sm{
      width: 512px;
      height: 288px;
    }
    @include for-md{
      width: 640px;
      height: 360px;
    }
  
}
.motion-output{
  left: 0;
  bottom: 0;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid black;
  position: absolute;
  @include for-xs{
    width: 72px;
  }
  @include for-sm{
    width: 96px;
  }
  @include for-md{
    width: 128px;
  }
}
.motion-output-wrapper{
  
  @include for-xs{
    width: 256px;
    height: 144px;
  }
  @include for-sm{
    width: 512px;
    height: 288px;
  }
  @include for-md{
    width: 640px;
    height: 360px;
  }
  position: absolute
  
}

.webcam-error-button{
    @include for-xs {
        display:flex;
        justify-content: center;
   }
}
.setup-button{
    display:flex;
    justify-content: center;
}
.record-button{
  padding:10px !important;
}

.webcam-link{
  display: flex;
  font-size: 1rem; 
  flex-direction: column;
}

.status-readout-text{
  text-align:center;
}
.webcam-link-item{
  align-self: center;
}

.webcam-canvas{
  position: absolute;
  
  @include for-xs{
    width: 256px;
    height: 144px;
  }
  @include for-sm{
    width: 512px;
    height: 288px;
  }
  @include for-md{
    width: 640px;
    height: 360x;
  }
}

.motion-canvas{
  display:none;
}
.draw-canvas{
  position: absolute;
  width: auto;
    height: 100%;
    opacity: 0.1;
}
.stream-form{
  padding:20px;
  background-color: #292929;
  border-radius: 5px;
  margin-top:10px;
  margin-bottom: 10px;
}
.device-checkbox{
  margin-bottom: 0 !important;
}

.red-border{
  border: 2px solid red;
}